


<div class="main-content col-md-9" id="main">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview</h2>
                  
                    </div>
            </div>
            <div class="row m-t-18">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                                <br/>
                                <div  class="text"  >
                                    <h2>  {{OrderData}} </h2>
                                    <span>Todays Order</span>
                                    
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                        <i class="fas fa-shopping-bag"></i>  
                                      </div>
                                <br/>
                                <div class="text">
                                    <h2> {{ItemData}}</h2>
                                    <span>Today's items sold</span>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-lira-sign"></i>
                                  </div>
                                <div class="text">
                                    <h2> {{ AmountData}}</h2>
                                    <span>Today's Selling Amount</span>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                        <i class="fas fa-lira-sign"></i>
                                    </div>
                                <div class="text">
                                    <h2> {{WeekData}}</h2>
                                
                                    <span>Last Week Selling Amount</span>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-100">
                <div class="col-md-6">
                    <app-orderamountchart></app-orderamountchart>
                </div>
                <div class="col-md-6">
                    <app-incomeamountchart></app-incomeamountchart>
                </div>
            </div>
     <br/>
            <div class="row" style="margin-top:220px;"> 
                <div class="col-md-6" id="menuedetails">
                    <app-menuedetailschart></app-menuedetailschart>
              </div>       
                
                    
                
               
        </div>
        <div class="row"style="margin-top:220px;" id="customerreview">
    
            <app-customerreview></app-customerreview>
         </div> 
    </div>
</div>
</div>



